.top{
    background-color: coral;
    padding: 5px;
    text-align: center;
}

html, body{
    height: 100%;
}

.titlecolor{
    background-color: lightblue;
}

footer{
    text-align: center;
}